{% include "header.html" %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ pf_title }}</h2>
        <ol>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li>{{ pf_title }}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='assets/img/portfolio/tic_tac_toe/tic_tac_toe_1.png') }}"
                     alt="Tic Tac Toe Screenshot 1">
              </div>

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='assets/img/portfolio/tic_tac_toe/tic_tac_toe_2.png') }}"
                     alt="Tic Tac Toe Screenshot 2">
              </div>

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='assets/img/portfolio/tic_tac_toe/tic_tac_toe_3.png') }}"
                     alt="Tic Tac Toe Screenshot 3">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Script</li>
              <li><strong>Technologies</strong>: Python, NumPy</li>
              <li><strong>Project date</strong>: 08 May, 2024</li>
              <li><strong>Project URL</strong>: <a
                  href="https://github.com/A-Trendafilov/Tic-Tac-Toe">View on GitHub</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Tic Tac Toe Game</h2>
            <p>
              A text-based implementation of the classic Tic Tac Toe game in Python. The game allows a player to play
              against
              the computer. It features a simple text-based interface, input validation, and an option for the player to
              exit the game at any time.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% include "footer.html" %}
