{% include "header.html" %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ pf_title }}</h2>
        <ol>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li>{{ pf_title }}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img
                    src="{{ url_for('static', filename='assets/img/portfolio/typing_speed_test/typing_speed_test_2.png') }}"
                    alt="Typing Speed Test Screenshot 1">
              </div>

              <div class="swiper-slide">
                <img
                    src="{{ url_for('static', filename='assets/img/portfolio/typing_speed_test/typing_speed_test_1.png') }}"
                    alt="Typing Speed Test Screenshot 2">
              </div>

              <div class="swiper-slide">
                <img
                    src="{{ url_for('static', filename='assets/img/portfolio/typing_speed_test/typing_speed_test_3.png') }}"
                    alt="Typing Speed Test Screenshot 3">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Application</li>
              <li><strong>Technologies</strong>: Python, PyQt6</li>
              <li><strong>Project date</strong>: 15 May, 2024</li>
              <li><strong>Project URL</strong>: <a
                  href="https://github.com/A-Trendafilov/Typing-Speed-Test">View on GitHub</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Typing Speed Test Application</h2>
            <p>
              Boost your typing speed and accuracy with our Typing Speed Test Application! Whether you're a professional
              typist looking to improve your productivity or a beginner aiming to enhance your typing skills, our
              user-friendly app is here to help.
              Featuring a timer, sample text, and real-time feedback on your typing speed and accuracy, our application
              provides an engaging and effective way to track your progress. Challenge yourself against the clock,
              refine your skills, and watch your typing proficiency soar. Try it now and see how fast and accurately you
              can type!
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% include "footer.html" %}
