{% extends "base.html" %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>{{ data.name }}</h1>
    <p>I'm <span class="typed" data-typed-items="{{ data.typedItems | join(', ') }}"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>{{ data.about.intro }}</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{url_for('static', filename=data.about.profileImg)}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Developer.</h3>
          <p class="fst-italic">
            {{ data.about.dev_intro }}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                  <span>{{data.about.details.birthday}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                  <span>{{data.about.details.phone}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>
                  <span>{{data.about.details.city}}, {{ data.about.details.country }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                  <span>{{ current_age }} </span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                  <span>{{data.about.details.email}}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                  <span>{{data.about.details.freelance}}</span></li>
              </ul>
            </div>
          </div>
          <p>
            {{data.about.description}}
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Exploring</h2>
        <p>{{ data.exploring.intro }}</p>
      </div>

      <div class="row no-gutters">
        {% for fact in data.exploring.facts %}
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
             data-aos-delay="{{ loop.index0 * 100 }}">
          <div class="count-box">
            <i class='bx {{ fact.icon }}' style="line-height: 1"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{ fact.end }}" data-purecounter-duration="1"
                  class="purecounter"></span>
            <p><strong>{{ fact.name }} </strong>{{ fact.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Facts Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>{{ data.skills.intro }}</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">
          {% for skill in data.skills.skills_list[:10] %}
          <div class="progress">
            <span class="skill">{{ skill.name }} <i class="val">{{ skill.level }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          {% for skill in data.skills.skills_list[10:] %}
          <div class="progress">
            <span class="skill">{{ skill.name }} <i class="val">{{ skill.level }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>{{ data.resume.intro }}</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>{{ data.name }}</h4>
            <p><em>{{ data.resume.summary.description }}</em></p>
            <ul>
              <li>{{ data.about.details.city }} , {{ data.about.details.country }}</li>
              <li>{{ data.about.details.phone }}</li>
              <li>{{ data.about.details.email }}</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          {% for edu in data.resume.education %}
          <div class="resume-item">
            <h4>{{ edu.degree }}</h4>
            {% if edu.field %}
            <p>{{ edu.field }}</p>
            {% endif %}
            <p><em>{{ edu.institution }}</em></p>
            {% if edu.credentialId %}
            <p>Credential ID: {{ edu.credentialId }}</p>
            <a class="btn btn-outline-info btn-sm" href="{{ edu.link }}" role="button">Show credential</a>
            {% endif %}
            {% if edu.years %}
            <h5>{{ edu.years }}</h5>
            {% endif %}
            {% if edu.status %}
            <p>{{ edu.status }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          {% for exp in data.resume.experience %}
          <div class="resume-item">
            <h4>{{ exp.title }}</h4>
            <h5>{{ exp.years }}</h5>
            <p><em>{{ exp.company }}</em></p>
            <ul>
              {% for responsibility in exp.responsibilities %}
              <li>{{ responsibility }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>


    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>{{ data.portfolio.intro }}</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-App">App</li>
            <li data-filter=".filter-Scr">Scr</li>
            <li data-filter=".filter-Web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for project in data.portfolio.projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category }}">
          <div class="portfolio-wrap">
            <div class="portfolio-icons">
              {% for icon in project.icons %}
              <i class='{{ icon }}'></i>
              {% endfor %}
            </div>
            <div class="portfolio-info">
              <h4>{{ project.title }}</h4>
              <p><em>{{ project.description }}</em></p>
              <div class="portfolio-links">
                <a href="{{ url_for('portfolio', id=project.id) }}"
                   class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i
                    class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>{{ data.services.intro }}</p>
      </div>

      <div class="row">
        {% for service in data.services.details %}
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
          <div class="icon"><i class="{{ service.icon }}"></i></div>
          <h4 class="title"><a href="" onclick="return false;">{{ service.title }}</a></h4>
          <p class="description">{{ service.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Services Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>{{ data.contact.intro }}</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>{{ data.about.details.city }}, {{ data.about.details.country }} </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{ data.about.details.email }}</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>{{ data.about.details.phone }}</p>
            </div>

            <iframe
                src="{{ data.contact.map }}"
                width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="{{ url_for('contact') }}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}

